.container-products{
   width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}
.productCard{
  width:240px;
}

@media (max-width: 701px) {
  .container-products{
    justify-content: center;
  }
}